//- index.jade
extends view/template.jade
block var
	- var metaDescription 		= "Official site of Calina Lefter"
	- var title 			= "official site of Calina Lefter"
	- var bodyClass 		= "index"
	- var isotopeScript 		= true
	- var myJs 			= true
	- var fb_share 			= true
	- var contactPage 		= "contact.php"
	- var thumbnailShareLink 	= "share_home.jpg"
	- var htmlName 		= ""
	- var id 			= "home"
	- var typePage 			= "Home Page"
	- var assets 			= "assets"
	- var relativeLink 		= ""
	- var keywords 		= "art, artwork, natural landscapes, landscapes, colored, palette knife"
	- var events			= false
	- var eventsPopUP 		= true

block content
