
<div class="col-sm-4 item undefined undefined undefined undefined undefined">
  <div class="item-wrap"><a href="undefined/gallery/undefined">
      <picture>
        <source srcset="gallery/thumbnail/undefined_1.jpg" media="(min-width: 800px)"/>
        <source srcset="gallery/thumbnail/undefined_1.jpg" media="(min-width: 600px)"/><img srcset="gallery/thumbnail/undefined_1.jpg" alt="undefined" title="undefined" class="img-responsive"/>
      </picture></a>
    <div class="infoArtwork">
      <h2></h2><span class="pull-left"></span><a href="undefined/gallery/undefined" class="pull-right">view details</a>
      <div class="clearfix"></div>
    </div>
  </div>
</div>